section.LightAndDarkMode {
  margin: 4rem auto;
  padding: 0 15px;
  min-width: 300px;
  max-width: 100%;
}

section.LightAndDarkMode > div {
  width: max-content;
  margin: 0 auto;
}

@media (min-width: 650px) {
  section.LightAndDarkMode {
    max-width: 72rem;
  }
}
