section.TreeView {
  box-sizing: border-box;
  background: #f8f8f8;
  font-weight: 500;
  min-width: 300px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 4;

  /* h2 {
    margin-top: 0;
  } */
}

div.menu {
  background: navy;
  min-width: 280px;
  width: fit-content;
  max-width: 100%;
  position: relative;
}

div.menu > button {
  background: transparent;
  border: none;
  margin: 20px 0;
  color: white;
  cursor: pointer;
}

ul.nav,
ul.subMenu {
  margin: 0;
  color: white;
  list-style: none;
}

ul.nav > li > div > a,
ul.subMenu > li > div > a,
ul.nav > li > div > a:visited,
ul.subMenu > li > div > a:visited {
  color: white;
  text-decoration: none;
}
ul.nav > li > div > a:hover,
ul.nav > li > div > a:active,
ul.subMenu > li > div > a:hover,
ul.subMenu > li > div > a:active {
  color: red;
}

ul.nav {
  padding: 0px 0px 20px;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  background: navy;
  width: 100%;
}

ul.nav > li > div > a.menu-item {
  margin: 0 10px;
  line-height: 2rem;
  border-bottom: 2px solid wheat;
}

ul.subMenu > li {
  line-height: 1.5rem;
}

ul.nav > li > div,
ul.subMenu > li > div {
  cursor: pointer;
  padding-right: 20px;
}

ul.nav > li > div > span,
ul.subMenu > li > div > span {
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.4rem;
}

.overflow-hidden {
  overflow: hidden;
  scrollbar-gutter: stable;
}
