section.LoadMoreSection {
  padding: 4rem 20px;
  margin: 0 auto;
}

div.LoadMore > h2 {
  text-align: center;
}

div.LoadMore > div.productContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 100%;
}

div.productContainer > div.productCard {
  padding: 20px 15px;
  border: 1px solid var(--text-primary);
  min-width: 250px;
  max-width: min-content;
  margin: 20px auto;
}

div.productContainer > div.productCard > div.priceSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

button.loadMoreButton {
  display: block;
  margin: 20px auto;
}

div.productCard > h3 {
  margin-top: 0px !important;
}

@media (min-width: 650px) {
  section.LoadMoreSection {
    max-width: 72rem;
  }
}
