div.App {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 15px;
}

div.logic {
  background: white;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px auto;
  max-width: 60%;
  padding: 10px 15px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  div.App {
    max-width: 72rem;
  }
}
