/* css variables for dark/light mode */

:root {
  --background: #fff;
  --text-primary: #000;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

div.App {
  background: var(--background);
  color: var(--text-primary);
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
}

div.logic {
  background: var(--background);
  min-width: 250px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 20px auto;
  max-width: 60%;
  padding: 10px 15px;
  font-weight: 600;
}
